section.message-section {
  display: flex;
  height: 100vh;
  position: relative;
}
section.message-section .firstContainer {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
section.message-section .firstContainer .messageHeader {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  position: relative;
  height: 7.7rem;
}
section.message-section .firstContainer .messageHeader .chatIcon {
  font-size: 2.3rem;
  cursor: pointer;
  color: var(--text-color);
}
section.message-section .firstContainer .messageHeader .chatIcon .hamburger {
  cursor: pointer;
}

section.message-section
  .firstContainer
  .messageHeader
  .chatIcon
  .hamburger
  input {
  display: none;
}

section.message-section
  .firstContainer
  .messageHeader
  .chatIcon
  .hamburger
  svg {
  height: 2.8rem;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

section.message-section .firstContainer .messageHeader .chatIcon .line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

section.message-section
  .firstContainer
  .messageHeader
  .chatIcon
  .line-top-bottom {
  stroke-dasharray: 12 63;
}

section.message-section
  .firstContainer
  .messageHeader
  .chatIcon
  .hamburger
  input:checked
  + svg {
  transform: rotate(-45deg);
}

section.message-section
  .firstContainer
  .messageHeader
  .chatIcon
  .hamburger
  input:checked
  + svg
  .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

section.message-section .firstContainer .messageHeader .popUpMenu {
  position: absolute;
  right: 0;
  top: 6rem;
  z-index: 999;
  transform: scale(0);
  transition: 0.2s ease;
}

section.message-section .firstContainer .messageHeader .popUpMenu .card {
  width: 22.5rem;
  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    rgba(36, 40, 50, 1) 0%,
    rgba(36, 40, 50, 1) 0%
  );
  border-radius: 0.5rem;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .separator {
  border-top: 1.5px solid #42434a;
}

section.message-section .firstContainer .messageHeader .popUpMenu .card .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 10px;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .element {
  display: flex;
  align-items: center;
  color: #7e8590;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  height: 3.3rem;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .element
  svg {
  width: 19px;
  height: 19px;
  transition: all 0.3s ease-out;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .element
  .label {
  font-size: 1.4rem;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .element:hover {
  background-color: #5353ff;
  color: #ffffff;
  transform: translate(1px, -1px);
}
section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .delete:hover {
  background-color: #8e2a2a;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list
  .element:active {
  transform: scale(0.99);
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list:not(:last-child)
  .element:hover
  svg {
  stroke: #ffffff;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list:last-child
  svg {
  stroke: #bd89ff;
}
section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list:last-child
  .element {
  color: #bd89ff;
}

section.message-section
  .firstContainer
  .messageHeader
  .popUpMenu
  .card
  .list:last-child
  .element:hover {
  background-color: rgba(56, 45, 71, 0.836);
}

section.message-section .firstContainer .inboxEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  scale: 0;
  transition: 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.message-section .firstContainer .chat {
  scale: 1;
}
section.message-section .firstContainer .friend {
  scale: 1;
}
section.message-section .firstContainer .inboxEmpty img {
  height: 20rem;
}
section.message-section .firstContainer .inboxEmpty div {
  font-size: 1.7rem;
  color: var(--text-color);
  opacity: 0.3;
  font-weight: 400;
}
section.message-section .firstContainer .messageHeader .popUpMenu ul li:hover {
  background: var(--secondary-element-color);
  color: var(--primary-element-color);
}
section.message-section .firstContainer .messageHeader .popUpMenu ul li span {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}
section.message-section .firstContainer .messageHeader img {
  height: 3.2rem;
  cursor: pointer;
}
section.message-section .firstContainer .navigation-bar input {
  display: none;
}
section.message-section .firstContainer .navigation-bar {
  --navmenu-width: 27rem;
  background: #0d1117;
  margin: 0 1.5rem;
  padding: 1.3rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  height: 4rem;
  border: 0.15rem solid var(--primary-element-color);
  width: var(--navmenu-width);
  position: relative;
}
section.message-section .firstContainer .navigation-bar label span {
  color: var(--text-color);
  font-size: 1.4rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
}

section.message-section
  .firstContainer
  .navigation-bar
  label
  input:checked
  + span {
  color: var(--primary-element-color);
}

section.message-section .firstContainer .navigation-bar .navmenu-director {
  position: absolute;
  height: 0.5rem;
  width: 2.5rem;
  background: var(--primary-element-color);
  border-radius: 1rem;
  top: -0.28rem;
  left: calc(var(--navmenu-width) / 7);
  transition: 0.2s ease;
  box-shadow: 0px 0px 9px 3px rgba(61, 126, 108, 0.41);
}

section.message-section .secondContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.message-section .firstContainer .profileSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #0d1117;
  width: 100%;
  padding: 1rem;
  height: 6.5rem;
}
section.message-section .firstContainer .profileSection img {
  height: 4rem;
}
section.message-section .firstContainer .profileSection .otherMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
section.message-section .firstContainer .profileSection .otherMenu .name {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.message-section .firstContainer .profileSection .otherMenu .name h2 {
  font-size: 1.4rem;
  color: var(--text-color);
}
section.message-section .firstContainer .profileSection .otherMenu .name p {
  color: var(--text-color);
}

section.message-section .firstContainer .recent-messages-section {
  overflow-y: scroll;
  margin: 1rem 0;
  flex: 1;
}
section.message-section
  .firstContainer
  .recent-messages-section::-webkit-scrollbar {
  display: none;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-box-info {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.7rem 0 2rem 0;
  color: var(--text-color);
  font-weight: 400;
  opacity: 0.5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-box-info::before {
  content: "";
  height: 0.1rem;
  width: 7rem;
  background: #445;
  position: absolute;
  left: 2rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-box-info::after {
  content: "";
  height: 0.1rem;
  width: 7rem;
  background: #445;
  position: absolute;
  right: 2rem;
}
section.message-section .firstContainer .recent-messages-section .message-card {
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-box-menu {
  position: absolute;
  background-color: var(--secondary-element-color);
  right: 0;
  height: 95%;
  width: 2.5rem;
  border-radius: 10rem 2rem 2rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -4rem;
  transition: 0.2s ease;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card:hover
  .message-box-menu {
  right: 0.1rem;
}

section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-box-menu
  .message-box-menu-icon {
  font-size: 1.7rem;
  display: flex;
  margin-left: 0.2rem;
  color: var(--primary-element-color);
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-card-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin-left: 1.5rem;
  font-size: 1.1rem;
  position: relative;
  left: 0;
  transition: 0.2s ease;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card:hover
  .message-card-menu {
  left: -2.4rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-card-menu
  .messageStatus {
  background: red;
  padding: 0.5rem;
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0.5rem;
  font-size: 1rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .chat-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card:hover {
  background: #0d1117;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  img {
  height: 4rem;
  width: 4rem;
  border-radius: 0.2rem;
  border-bottom: 0.2rem solid #63ff20;
  margin-right: 1.2rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-card-menu
  span {
  font-size: 0.9rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-card-menu
  span.time {
  opacity: 0.5;
  margin-top: -0.5rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .message-card-menu
  span.inboxStatus {
  height: 1.5rem;
  width: 1.5rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(238, 56, 56) 0%,
    rgba(206, 21, 0, 0.92) 90.1%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0.5rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  .name {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
section.message-section
  .firstContainer
  .recent-messages-section
  .message-card
  p {
  color: var(--text-color);
}
section.message-section
  .firstContainer
  .profileSection
  .otherMenu
  .setting-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 2rem;
}
section.message-section
  .firstContainer
  .profileSection
  .otherMenu
  .setting-logout
  div {
  font-size: 1.8rem;
  margin: 0 1rem 0 0.5rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  transition: 0.2s ease;
  position: relative;
}
section.message-section
  .firstContainer
  .profileSection
  .otherMenu
  .setting-logout
  div:hover {
  color: var(--primary-element-color);
}

.tooltip {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: rgb(36, 36, 45);
  z-index: 1;
  border-radius: 8px;
  scale: 0;
  transform-origin: 0 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  color: var(--text-color);
  text-align: center;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: rgb(36, 36, 45);
  z-index: -1;
}

section.message-section
  .firstContainer
  .profileSection
  .otherMenu
  .setting-logout
  div:hover
  .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}
@keyframes shake {
  0% {
    rotate: 0;
  }

  25% {
    rotate: 7deg;
  }

  50% {
    rotate: -7deg;
  }

  75% {
    rotate: 1deg;
  }

  100% {
    rotate: 0;
  }
}

section.message-section .secondContainer .userProfileHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--text-color);
  height: 7rem;
  background: var(
    --light-grad-pink-blue,
    radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%),
    radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%)
  );
  position: relative;
}

section.message-section .secondContainer .userProfileHead .status-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section .secondContainer .userProfileHead .status-name img {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
section.message-section
  .secondContainer
  .userProfileHead
  .status-name
  .headText {
  font-size: 1.5rem;
  font-weight: bold;
}
section.message-section .secondContainer .userProfileHead .status-name p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.1rem;
}
section.message-section .secondContainer .userProfileHead .status-name p span {
  height: 0.7rem;
  width: 0.7rem;
  background: #63ff20;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
}
section.message-section .secondContainer .userProfileHead .detailsSection ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li {
  font-size: 1.8rem;
  margin: 0 1.3rem;
  cursor: pointer;
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li
  form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-background);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.3s ease;
  transform: scale(0);
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li
  form
  input {
  padding: 1rem 1.5rem;
  outline: none;
  border: 0.1rem solid #445;
  width: 85%;
  background: transparent;
  border-radius: 3rem;
  margin: 0 1rem;
  color: #ffffff;
  font-size: 1.5rem;
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li
  form
  span {
  display: flex;
  font-size: 3rem;
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li
  form
  span
  svg {
  pointer-events: none;
}
section.message-section
  .secondContainer
  .userProfileHead
  .detailsSection
  ul
  li
  form
  button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  padding: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

section.message-section .secondContainer {
  flex: 1;
  width: 100%;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
section.message-section .secondContainer .main-box {
  height: 100%;
  width: 100%;
  color: var(--text-color);
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.message-section .secondContainer .main-box .form-for-message-box {
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  .chatting-box {
  height: 100%;
}
section.message-section .secondContainer .main-box .form-for-message-box form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .input-div {
  width: 100%;
  border: 0.2rem solid #445;
  border-radius: 0 1rem 1rem 0;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  input {
  padding: 1rem;
  background-color: transparent;
  outline: none;
  color: var(--text-color);
  width: 100%;
  border: none;
  padding-left: 1.5rem;
  height: auto;
  font-size: 1.4rem;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .tools {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  cursor: pointer;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.2s ease;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .tools:hover {
  color: var(--primary-element-color);
}

section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .attachment
  .tooltip {
  width: 12rem;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .tools
  .tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: rgb(36, 36, 45);
  z-index: -1;
}

section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .tools:hover
  .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}
section.message-section .secondContainer .main-box .chatting-box {
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .no-conversation-with-person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .no-conversation-with-person
  img {
  height: 22rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .no-conversation-with-person
  div {
  font-size: 1.6rem;
  opacity: 0.5;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box::-webkit-scrollbar {
  display: none;
}
section.message-section .secondContainer .main-box .shuffleBtn {
  font-size: 2.3rem;
  padding: 1rem;
  background: var(--primary-element-color);
  color: var(--black-color);
  margin: 0 0 0 0.5rem;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.1rem solid var(--primary-element-color);
  height: 4.5rem;
  width: 6rem;
  position: relative;
  transition: 0.3s ease;
}

section.message-section .secondContainer .main-box .shuffleBtn:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  button {
  font-size: 2.5rem;
  background: transparent;
  color: var(--text-color);
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
}
section.message-section .secondContainer .main-box .chatting-box .person-chat {
  display: flex;
  margin: 1rem 0;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  img {
  height: 3rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .para-box {
  display: flex;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .para-box {
  flex-direction: row-reverse;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-menu
  ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .left
  .message-menu
  ul {
  margin-left: 0.5rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-menu
  ul
  li {
  margin: 0 0.5rem 0 0;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-menu
  ul
  li:hover
  .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-menu {
  transform: scale(0);
  transition: 0.2s;
}

section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-menu
  ul
  li:hover {
  background: #0d1117;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .para-box:hover
  .message-menu {
  transform: scale(1);
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-details
  p {
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
  padding: 1rem;
  border-radius: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
  margin: 0.2rem 0;
  width: fit-content;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-details
  .para-box:first-child
  p {
  border-radius: 0 1rem 1rem 1rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-details
  .para-box:last-child
  p {
  border-radius: 0 0 1rem 1rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .person-chat
  .message-details
  .para-box:only-child
  p {
  border-radius: 0 1rem 1rem 1rem;
}
section.message-section .secondContainer .main-box .chatting-box .right {
  float: right;
  clear: both;
  flex-direction: row-reverse;
}

section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .message-details
  .para-box
  p {
  border-radius: 0.3rem;
  background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(
    139deg,
    rgba(36, 40, 50, 1) 0%,
    rgba(36, 40, 50, 1) 0%,
    rgba(37, 28, 40, 1) 100%
  );
  margin-right: 1rem;
  display: flex;
  align-items: end;
  flex-direction: column;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .message-details
  .para-box:first-child
  p {
  border-radius: 1rem 0.3rem 0.3rem 0.3rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .message-details {
  justify-content: end;
  align-items: flex-end;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .message-details
  .para-box:last-child
  p {
  border-radius: 0.3rem 0.3rem 1rem 1rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .right
  .message-details
  .para-box:only-child
  p {
  border-radius: 1rem 0 1rem 1rem;
}
section.message-section
  .secondContainer
  .main-box
  .chatting-box
  .message-details {
  margin-left: 1rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

section.message-section .secondContainer .main-box .chatting-box .left {
  float: left;
  clear: both;
  color: var(--text-color);
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  #sendBtn {
  transform: scale(0);
  transition: 0.3s ease;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  #micBtn {
  transform: scale(1);
  transition: 0.3s ease;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  .message-btns {
  position: relative;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.message-section
  .secondContainer
  .main-box
  .form-for-message-box
  form
  button {
  position: absolute;
}
